.button {
	display: inline-block;
	position: relative;
	min-width: 2.8em;

	line-height: 2em;
	border-radius: 4px;
	padding: 0px 1em;
	font-size: 1em;
	background-color: transparent;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	color:black;
	transition:all .2s ease;
	&.disabled{
		color:white;
		background-color:grey;
		pointer-events:none;
	}
	&.large{
		line-height: 2.4em;
		font-size: 1.4em;
	}
	&.round{
		border-radius: 2.4em;
	}
	&.border{
		border:1px solid #94A0A9;
	}
	&:hover
	{
		background-color:$primary-color;
		color:white;
		border-color:$primary-color;
		cursor:pointer;
	}
	&.raised{
		background-color:$primary-color;
		color:white;
		border-color:$primary-color;
		&.inverted{
			background-color:transparent;
			border: 1px solid $primary-color;
			color:$primary-color;
			&:hover{
				background-color:$primary-color;
				color:white;
			}
		}
		&.successButton{
			color:white;
			background-color:$success-color;
			&:hover
			{
				background-color:darken($success-color, 10%);
				color:white;
				border-color:darken($success-color, 10%);
				cursor:pointer;
			}
		}
		&.warningButton{
			color:white;
			background-color:$warning-color;
			&:hover
			{
				background-color:darken($warning-color, 10%);
				color:white;
				border-color:darken($warning-color, 10%);
				cursor:pointer;
			}
		}
		&.errorButton{
			color:white;
			background-color:$error-color;
			&:hover
			{
				background-color:darken($error-color, 10%);
				color:white;
				border-color:darken($error-color, 10%);
				cursor:pointer;
			}
		}
	}
	&:hover
	{
		&:before{
			background-color: rgba(0,0,0,.08);
		}
	}
	&.floating{
		display: inline-block;
		border: none;
		position:absolute;
		vertical-align: middle;
		overflow: hidden;
		min-height: 0px;
		min-width: 0px;
		height:$button-floating-size;
		width:$button-floating-size;
		line-height: $button-floating-size;
		border-radius:50%;
		bottom:-27px;
		left:75%;
		margin:0;
		padding:0;
		background-color:$button-floating-color;
		color:#ffffff;
		@extend .z-depth-1;
		cursor: pointer;
		z-index: 1;
		&:hover{
			background-color: $button-floating-background-hover;
			@extend .z-depth-1-half;
		}

		i {
			width: inherit;
			display: inline-block;
			text-align: center;
			cursor: pointer;
			font-size: $button-large-icon-font-size;
			line-height: $button-floating-size;
		}
	}
	@keyframes tap {
		0%
		{
			background-color: rgba(255,255,255,.2);
			height:0px;
			width:0px;
		}
		80%
		{
			height:300px;
			width:300px;
		}100%
		{
			background-color: rgba(255,255,255,0);
			height:300px;
			width:300px;
		}
	}
}
